* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho-inicio {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cabecalho-centro {
    display: flex;
    gap: 0.5rem;
}

.cabecalho-final {
    display: flex;
    gap: 0.8rem;
}

.logotipo {
    display: flex;
    align-items: center;
}

.logotipo-icone {
    color: red;
}

.logotipo-pais {
    font-size: 8px;
    color: rgb(151, 151, 151);
}

.logotipo-video {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.logotipo-texto {
    font-weight: bolder;
}

.logotipo-texto:hover {
    color: gray;
}

.logotipo-video:hover {
    background-color: gray;
}

.search {
    display: flex;
}

.search-input {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 1rem 0 0 1rem;
    outline: none;
    height: 2rem;
    width: 325px;
    font-size: 1rem;
    padding: 0 16px 0 0.8rem;
}

.search-button {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 0 1rem 1rem 0;
    width: 50px;
    height: 2rem;
}

.microphone {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 50%;
}

